 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: aquamarine;
     text-align: center;

 }

 #content {
     align-items: center;
     display: flex;
     flex-direction: column;
     text-align: center;
     width: fit-content;
     margin-left: 30%;
 }
 
 #userChoice {
     display: none;
     font-size: 50px;
     text-align: center;
     margin-top: 10%;
     color: brown;
     border-radius: 1rem;
 }

 #enterBtn {
     display: none;
     margin: 5%;
     color: black;
     font-size: 50px;
     border-radius: 0.5rem;
 }

 #startBtn {
     background-color: blueviolet;
     font-size: 40px;
     border-radius: 1rem;
 }

 #exitBtn {
     display: none;
     font-size: 40px;
     margin-top: 25px;
     border-radius: 0.5rem;
 }

 #feedback1 {
     font-size: 65px;
     text-align: center;
 }

 #feedback2 {
     font-size: 100px;
     text-align: center;
 }

 #i1 {
     font-size: 100px;
 }

 #i2 {
     font-size: 100px;
 }

 #i3 {
     font-size: 100px;
 }

 #playAgain {
     background-color: blueviolet;
     font-size: 40px;

 }

 #name {
     font-size: 50px;
 }